/*
 * @Author: Eoyz369
 * @Date: 2024-07-05 14:23:17
 * @LastEditTime: 2024-07-05 15:05:56
 * @FilePath: \Ripples\assets\css\category.css
 */
.gradient-text {
    background: linear-gradient(to right, #f06, #48f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.no-line-height {
    line-height: initial;
}

