/*
 * @Author: Eoyz369
 * @Date: 2024-07-05 14:13:17
 * @LastEditTime: 2024-07-08 14:30:56
 * @FilePath: \Ripples\assets\css\post.css
 */

/* 美化文章内容中的图片 */
.post-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px 0;
}

/* 调整正文文本的字体大小 */
.post-content {
    font-size: 1.125rem;
    /* 例如，将字体大小设为1.125rem */
    line-height: 1.6;
    /* 调整行高 */
}
